.main {
  height: 85px;
  width: 98%;
  background-color: lightslategrey;
}

.sub-main-1{
  display: flex;
}

.main-1{
height: 35px;
width: 50%;
color: white;
padding-left: 10px;
}

.main-2{
  height: 70px;
  width: 50%;
  gap: 10px;
  display: flex;
  padding-top: 10px;
  justify-content: center;
}
.button{
  background-color: rgb(245, 104, 104);
  width: 75px;
  height: 30px;
  color: white;
  border-radius: 10px;
  box-shadow: none;
}

.icon{
  gap: 10px;
  padding-top: 10px;
}
.main-nav{
  height: 35vh;
  width: 98%;
  border: 2px solid red;
}

.nav-1{
  height: 65px;
  width: 98%;
  border: 2px solid red;
}

.nav-2{
  height: 26vh;
  width: 98%;
  border: 2px solid black;
}

.mySlides{
  display: flex;
  gap: 5px;
  padding-top: 10px;
  border-radius: 4px;
}